.header{
	.pt(20);
	.pl(20);
	.pr(20);
	.mb(30);
	>img{
		width: 100%;
	}
	.desc{
		display: flex;
		.mb(10);
		.text{
			flex: 1;
			.pt(0);
			.pb(0);
			.fs(10);
			.lh(22);
			color: #333;
			font-weight: bold;
			text-align:justify;
			letter-spacing: 0;
			text-indent: 20px;
		}
		.logos{
			.pl(10);
			>img{
				display: block;
				margin: 0 auto;
				.mt(10);
				.mb(10);
				.w(72);
				&:first-child{
					.w(64);
				}
			}
		}
	}
	.dices{
		display: flex;
		.pb(5);
		.h(37);
		border-bottom: 1px solid rgb(162, 46, 64);
		.dice{
			flex: 1;
			color: #b75f6c;
			h1{
				margin: 0 auto;
				.fs(13);
				.lh(25);
				font-weight: bold;
				&.bordered{
					border-left: 1px solid #fda8b6;
					border-right: 1px solid #fda8b6;
				}
			}
			>img{
				.w(18);
				.h(18);
			}
		}
	}
	.text{
		display: flex;
		color: #3e3e3e;
		.pt(16);
		.pb(16);
		.fs(14);
		.lh(32);
		letter-spacing: 2px;
		.block{
			flex: 1;
			.pl(8);
			.pr(8);
			strong{
				font-weight: bold;
				.fs(18);
			}
			&:last-child{
				.fs(12);
			}
			&.bordered{
				.pl(0);
				.pr(0);
				border-left: solid #f4f4f4 1px;
				border-right: solid #f4f4f4 1px;
			}
		}
	}
}